#unscroll {
     position: fixed;
	 left: 4%;
	 top: -50px;
	 width: 92%;
	z-index: 999;
}

#fixlogobig { 
  margin: auto; 
  margin-left: 50%; 
  margin-right: auto; 
} 
#fixlogosmall { 
  margin: auto; 
  margin-left: 50%; 
  margin-right: auto; 
} 
#whitebar {
	background-color: #ffffff;
	color: #ffffff;
	position:fixed;
	top: 0%;
	left= 50%;
	width: 90%;
}

#dark {
	background-color: none;	
	color: #000;
	border-color: #EEE;
	border: 20px;
	text-align: left;
}


#foot {
	position: fixed;
	bottom: 0px;
	width: 100%;
}

#sorting {
	
	position: fixed;
	background-color:#FFF;
	right: 0px;
	width: 10%;
	top: 30pp;
	height:50%;
	border: 3px solid #DDD;
	border-radius: 5px;
	padding: 1%;
}
#sortbutton {
	background-color: #ffa500;
	position: relative;
	width: 90%;
	color: #000;
}
@media only screen and (max-width: 1026px) {
	#sorting {
		display: none;
	}
}