#unscroll {
     position: fixed;
	 left: 4%;
	 top: -5%;
	 width: 92%;
}

#fixlogobig {
	margin: auto;
	margin-left: 50%;
	margin-right: auto;
}
#fixlogosmall {
	margin: auto;
	margin-left: 50%;
	margin-right: auto;
}
#whitebar {
	background-color: #FFF;
	color: #FFF;
	position:fixed;
	top: 0%;
	left= 50%;
	width: 90%;
}